/*
SOH CUSTOM CSS
*/
.client-name {
 font-size: 18px;
  line-height: 38px;
  color:#3498db;
}

.profile-field-icon {
	font-size: 15px;
	padding-right:5px;
	text-align:center;
	color:#223c80;
}

.profile-field-value {
	font-size: 14px;
	color:#7f8c8d;
	font-family: 'Roboto', sans-serif;
}

            article {
                position: relative;
                padding: 0 5em;
                border: 1px solid #223C87;
                margin-bottom: 3em;
                border-radius: 5px;
            }

            article:hover {
                border: 1px solid #3AB149;
            }

            article:first-child {
                margin-top: 2em;
            }

            article .title {
                position: absolute;
                left: 30px;
                top: -25px;
                padding-left: 5px; padding-right: 5px;
                padding-bottom: 5px;
                font-family: 'Calibri';
                background-color: #fff;
				font-size:20px;
            }

            @media (max-width: 960px) {

                article {
                    padding: 0 2em;
                }
            }
            .article{
                line-height:10px;
            }
			.side_icon{color: #223C80;font-size:18px;}
            .side_text{font-size: 14px;color: #223C80;font-weight: normal;font-family:"Open Sans", sans-serif;}
			 .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
                background-color: #9c9c9b;
                border-color: #9c9c9b;
            }
            .btn-primary[disabled]:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.active, .btn-primary.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .open > .dropdown-toggle.btn-primary {
                background-color: #9c9c9b;
            }
			
            .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
                border-bottom:1px solid #ddd;
            }
			
            
            .panel-title{
                font-weight:100;
                font-size: 14px;
            }.cust_color{
                color:#2980b9;
            }
            .cust_col{
                color:#bdc3c7;
            }
            .panel-title{
                font-weight:100;
                font-size: 14px;
            }
            th{
                color: black;

            }
            .tbl_name{
                font-weight:100;
                font-size: 14px;
                padding-left:5%;
            }
            .dropdown-toggle {
                padding: 12px 6px 7px 6px;
                padding-left: 0;
                padding-right: 0;
            }
            .panel-default{
                margin-top: 1%;
            }
            .view_all{
                margin-left: 75%;

            }