
.dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
                position: absolute;
                top: -9%;
                left: 85%;
                right: auto;
                display: inline-block !important;
                border-right: 8px solid transparent;
                border-bottom: 8px solid black;
                border-left: 8px solid transparent;
                content: '';
            }
            .top-menu .navbar-nav > li.dropdown > .dropdown-menu:after {
                position: absolute;
                top: -7px;
                right: 10px;
                display: inline-block !important;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #fff;
                border-left: 7px solid transparent;
                content: '';
            }
.pull-right {
	margin-top:0.5%;
}
.top_right_icon{
	padding-right:5px;
}
.red-tooltip + .tooltip > .tooltip-inner {
                background-color: black;
                color:white;
                padding:5px 10px 5px 5px;
                left: 27px;
            }
            .tooltip.bottom .tooltip-arrow{
                border-bottom-color:black;
            }
          