/*!
 * jQCloud 2.0.1
 * Copyright 2011 Luca Ongaro (http://www.lucaongaro.eu)
 * Copyright 2013 Daniel White (http://www.developerdan.com)
 * Copyright 2014 Damien "Mistic" Sorel (http://www.strangeplanet.fr)
 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */

div.jqcloud {
    overflow: hidden;
    position: relative
}
div.jqcloud span {
    padding: 0
}
div.jqcloud {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: normal
}
div.jqcloud a {
    font-size: inherit;
    text-decoration: none
}
div.jqcloud span.w10 {
    font-size: 550%
}
div.jqcloud span.w9 {
    font-size: 500%
}
div.jqcloud span.w8 {
    font-size: 450%
}
div.jqcloud span.w7 {
    font-size: 250%
}
div.jqcloud span.w6 {
    font-size: 350%
}
div.jqcloud span.w5 {
    font-size: 300%
}
div.jqcloud span.w4 {
    font-size: 250%
}
div.jqcloud span.w3 {
    font-size: 200%
}
div.jqcloud span.w2 {
    font-size: 150%
}
div.jqcloud span.w1 {
    font-size: 100%
}
div.jqcloud {
    color: #09f
}
div.jqcloud a {
    color: inherit
}
div.jqcloud a:hover,
div.jqcloud span.w10,
div.jqcloud span.w8,
div.jqcloud span.w9 {
    color: #6AA84F;
}
div.jqcloud span.w7 {
    color: #E06666;
}
div.jqcloud span.w6 {
    color: #1C5D99;
}
div.jqcloud span.w5 {
    color: #FFC332;
}
div.jqcloud span.w4 {
    color: #674ea7;
}
div.jqcloud span.w3 {
    color: #3BB9B9;
}
div.jqcloud span.w2 {
    color: #6AA84F;
}
div.jqcloud span.w1 {
    color: #83221e;
}