		@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


		#bar-chart {
		  width: 500px;
		  height: 300px;
		  position: relative;
		}

		#bar-chart::before, #line-chart::before {
		  content: "";
		  position: absolute;
		  display: block;
		  width: 240px;
		  height: 30px;
		  left: 155px;
		  top: 254px;
		  background: #FAFAFA;
		  box-shadow: 1px 1px 0 0 #DDD;
		}


		.demo {
			  margin:0 auto;
			  height:250px;
			}

			#demo-autosize {
			  width:80%;
			}
			h3{
				line-height:20px;
			}
			.container {
				width: auto;
				background-color: #fff;
			}
			.center{
				text-align:center;				
			}
			.panel-info > .panel-heading{
				background-color: #fff;
			}
			.panel-color .panel-title {
				color: #223c80;
				padding-bottom:10px;
			}
			.panel-title {
				 font-weight: 500;
			}
			.topbar {
				left: 0px;
				position: absolute;
				right: 0;
				top: 0px;
				z-index: 999;
			}
			.verticalLine {
				border-left: 2px solid #eee;
			}
			hr.style18 { 
			  height: 30px; 
			  border-style: solid; 
			  border-color: #223c80; 
			  border-width: 1px 0 0 0; 
			  border-radius: 20px; 
			} 
			hr.style18:before { 
			  display: block; 
			  content: ""; 
			  height: 30px; 
			  margin-top: -31px; 
			  border-style: solid; 
			  border-color: #223c80; 
			  border-width: 0 0 1px 0; 
			  border-radius: 20px; 
			}
			.legend-key {
				height: 8px;
				width: 8px;
			}
			.title{
					font-size:28px;
					margin-top:10px;
			}
			.hide  {
					display: block !important;
			}
			.color-size{
				color:#223c80;
				font-size:16px;
			}
			@media only screen and (max-width:480px) {
				.title{
					font-size:15px;
					margin-left:15px;
					margin-top:20px;
				}
				#q1{
					width:97.3%;
				}
				#q2{
					width:89.5%;
				}
				#q6{
					width:97.3%;
				}
				#q7{
					width: 87.2%;
					margin-bottom: 30px;
				}
				.hide  {					
					display: none !important;
				}
			}