
a {
color:#999999;
text-decoration:none;
}
a:hover{
color:#999999;
text-decoration:none;
}

.multicolor.pricing-table {
}
.multicolor.pricing-table .pricing-cols {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}.multicolor.pricing-table .pricing-cols li.pricing-col {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}
.multicolor.pricing-table .pricing-cols li {
    padding: 0;
    margin: 0 1px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.pricing-cols li.one-table {
    width: 100%;
}
.pricing-cols li.pricing-col {
    position: relative;
    overflow: hidden;
}
.pricing-cols li.pricing-col {
    z-index: 10;
}
.pricing-cols li {
    padding: 0;
    margin: 0 1px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    max-width: 300px;
}
.multicolor.pricing-table .pricing-cols .pricing-heading {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.pricing-cols .pricing-heading {
    position: relative;
}
.multicolor.pricing-table .pricing-cols .pricing-plan {
    color: #ffffff;
    font-weight: lighter;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 8px 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.multicolor.pricing-table .pricing-cols .pricing-price {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: 140px;
    width: 100%;
}
.multicolor.pricing-table .pricing-cols .pricing-button {
    padding: 10px 0;
    background-color: #f6f6f6;
    border: 1px solid #e8e8e8;
    border-top: none;
}
.pricing-cols .pricing-button {
    padding: 20px 0;
    border-top: none;
}
.multicolor.pricing-table .pricing-cols .pricing-features ul li:nth-child(odd) {
    background-color: #eeeeee;
}
.multicolor.pricing-table .pricing-cols .pricing-features ul li {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 0;
    display: block;
    margin: 0;
    width: auto;
    background-color: #f6f6f6;
}
.multicolor.pricing-table .pricing-cols .pricing-features ul {
    margin: 0;
    padding: 0;
    position: relative;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.multicolor.pricing-table .pricing-cols li {
    padding: 0;
    margin: 0 1px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.pricing-cols .pricing-features ul li {
    font-size: 12px;
    line-height: 16px;
    padding: 15px 0;
	color: grey;
    display: block;
    margin: 0;
    width: auto;
}
.multicolor.pricing-table .pricing-cols .pricing-price span {
    font-size: 55px;
    color: #ffffff;
    padding-left: 20px;
    font-weight: 500;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.pricing-cols .pricing-price span {
    display: table-cell;
    vertical-align: middle;
	height:80px;
    position: relative;
}
.pricing-cols .pricing-button a, .pricing-cols .pricing-features ul, .pricing-cols .pricing-price span, .pricing-cols li.featured-plan {
    z-index: 20;
}
.multicolor.pricing-table .pricing-cols .pricing-price sub{
    font-size: 18px;
    padding: 0 5px;
    font-weight: normal;
}
.multicolor.pricing-table .pricing-cols .pricing-price sup {
    font-size: 24px;
    padding: 0 5px;
    font-weight: normal;
	top: -1.2em;
}
.sub {
    top: 1.5em;
	margin-left:-160px;
	font-size: 25%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
#mk-button-11 .mk-button:hover {
    background-color: #8b8b8b;
    color: #ededed!important;
}
#mk-button-11 .mk-button {
    border: 2px solid #969696;
    color: #969696!important;
}
#mk-button-11 .mk-button {
    display: inline-block;
    max-width: 100%;
}
.multicolor.pricing-table .pricing-cols .pricing-button a {
    position: relative;
    margin: 0 auto;
    padding: 9px 25px;
}

.active{
				background-color:#db2e56;
				height:60px;
				color: white;
			}
			.step{
				background-color:#eaeaea;
				height:60px;
				color:grey;
			}
			.step_primary_div{
				padding-right:15px;
				padding-left:15px;
			}
			.step_secondary_div{
				padding-right:0;
				padding-left:0;
				border: 1px solid rgba(128, 128, 128, 0.38);
			}
			.step_no{
				    text-align: center;
					font-size: 20px;
					border: 2px solid white;
					border-radius: 50%;
					height: 30px;
					width: 30px;
					float: left;
					margin-left: 60px;
					margin-top: 12px;
					padding: 0px 5px 20px 5px;
				
			}
			.step_title{
				text-align: center;
				font-size: 20px;
				float: left;
				margin: 13px 13px 13px 13px;
			}