/* Popup container - can be anything you want */
	.popup {
	  position: relative;
	  display: inline-block;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	/* The actual popup */
	.popup .popuptext {
	  visibility: hidden;
	  background-color: #000;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 8px 8px;
	  width:100%;
	  position: absolute;
	  z-index: 1;
	  bottom: 125%;
	}

	/* Toggle this class - hide and show the popup */
	.popup .show {
	  visibility: visible;
	  -webkit-animation: fadeIn 1s;
	  animation: fadeIn 1s;
	}

	/* Add animation (fade in the popup) */
	@-webkit-keyframes fadeIn {
	  from {opacity: 0;} 
	  to {opacity: 1;}
	}

	@keyframes fadeIn {
	  from {opacity: 0;}
	  to {opacity:1 ;}
	}
	div.fixed-add-btn {
	  position: fixed;
	  width: 90%;
	  bottom: 40px;
	} 