::-webkit-input-placeholder {
                color: #B3B3AC;
                font-size: 11px;
                font-weight: bold;
            }

            :-moz-placeholder { /* Firefox 18- */
                color: #B3B3AC;  
                font-size: 11px;
                font-weight: bold;
            }

            ::-moz-placeholder {  /* Firefox 19+ */
                color: #B3B3AC; 
                font-size: 11px;
                font-weight: bold;
            }

            :-ms-input-placeholder {  
                color: #B3B3AC; 
                font-size: 11px;
                font-weight: bold;
            }
            .hr_class{
                border: 0;
                height: 1px;
                background-image: linear-gradient(to right, rgba(1, 1, 1, 0), rgba(1, 1, 1, 0.75), rgba(1, 1, 1, 0));
            }
            .input-group {
                width:55%;
            }
            .input-group-btn-vertical {
                margin-left:350px;
            }
            .form-control{
                height: 35px;
            }
            .btn btn-primary bootstrap-touchspin-up{
                padding: 9px 10px;
            }
            .input-group-btn-vertical > .btn {
                padding: 9px 10px;
            }
            .form-group{
                margin-bottom: 20px;
            }
            .ui-datepicker { 
                margin-left: 350px;
                z-index: 1000;
                position: absolute;
            }
            article {
                position: relative;
                padding: 0 5em;
                border: 1px solid #223C87;
                margin-bottom: 3em;
                border-radius: 5px;
            }

            article:hover {
                border: 1px solid #3AB149;
            }

            article:first-child {
                margin-top: 2em;
            }

            article .title {
                position: absolute;
                left: 30px;
                top: -25px;
                padding-left: 5px; padding-right: 5px;
                padding-bottom: 5px;
                font-family: 'Calibri';
                background-color: #fff;
                font-size:20px;
            }

            @media (max-width: 960px) {

                article {
                    padding: 0 2em;
                }
            }
            .article{
                line-height:10px;
            }
            .hr_css{
                border: 0;
                height: 1px;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
                margin-top: -15px;
                margin-bottom: 20px;
            }
            