
	ul.accordion{
    	list-style:none;   
    	font-family: Cambria, serif;
    	font-size: 14px;
    	font-style: italic;
    	line-height: 1.5em;
	}
	ul.accordion li{
    	float:left;
    	width:100px;
    	height:350px;
    	display:block;
    	border-right:2px solid #fff;
    	border-bottom:2px solid #fff;
    	background-color:#F6FBFC;
    	background-repeat:no-repeat;
    	background-position:center center;
    	position:relative;
    	overflow:hidden;
    	cursor:pointer;
    	-moz-box-shadow:1px 3px 15px #555;
    	-webkit-box-shadow:1px 3px 15px #555;
    	box-shadow:1px 3px 15px #555;
	}	
	ul.accordion li.bleft{
    	border-left:2px solid #fff;
	}
	ul.accordion li .heading{
    	padding:10px;
    	margin-top:60px;
    	opacity:0.9;
    	text-transform:uppercase;
    	font-style:normal;
    	font-weight:bold;
    	letter-spacing:1px;
    	font-size:14px;
    	color:#444;
		font-family: "Calibri", sans-serif;
    	text-align:center;
    	
	}
	ul.accordion li .description{
    	position:absolute;
    	width:99%;
    	height:98%;
    	display:none;
    	min-width:200px;
  
	}

	.show_perc{
		padding-top:25px;
		font-style: normal;
		font: 22px 'Calibri', sans-serif;
		text-align: center;
	}
	
	ul.accordion li .description > .progress {
		height:90px;
		width:90px;
		float:right;
		color:#ff8000;
		margin-top: -25px;
		margin-right: 10px;
		background-color:transparent;
		background-image:url('../../../ssn/icons/icon_0.png'); 
		background-size: 100% 100%; 
	}
	ul.accordion li .description > .session-no {
	text-transform:uppercase;
    	font-style:normal;
    	font-family: "Open-Sans", sans-serif;
    	font-weight:bold;
    	letter-spacing:1px;
    	font-size:22px;
    	color:WHITE;
    	margin:65px 0px 0px 0px;
    	padding: 12px 0 12px 10px;
    	background: #3498db;
   
	}

	ul.accordion li .description > .session-name {
		
		text-transform:uppercase;
    	font-style:normal;
    	font-family: "Calibri";
    	font-weight:bold;
    	letter-spacing:1px;
    	font-size:14px;
    	color:WHITE;
    	margin:18px 0px 0px 0px;
    	padding: 12px 0 12px 10px;
    	background: #3498db;
    
	}

	ul.accordion li .description > .session-desc {
     font: 14px 'Calibri', sans-serif;
    	font-weight: normal;
    	text-transform: none;
    	letter-spacing: normal;
    	line-height: 1.3em;
    	margin:18px 0px 0px 10px;
    	color: #a1a1a1;
	}
            

	ul.accordion li .description > .start-btn {
    	margin:35px 20px 0px 0px;
    	float:right;
     	color:#FFFFFF;
    	background-color: #223C80;
     	padding: 7px 14px;  
        border-radius: 2px;
        text-transform: uppercase;
	  font-style:normal;
	  font: 14px 'Calibri', sans-serif;
	}
        

	ul.accordion li .description > .start-btn:hover {
     	color:#FFFFFF;
    	background-color: #223C80;
	}
        
    ul.accordion li .description > .disabled-start-btn {
    	margin:35px 20px 0px 0px;
    	float:right;
     	color:#FFFFFF;
    	background-color: #9E9E9E;
     	padding: 7px 14px;  
        border-radius: 2px;
        text-transform: uppercase;
		font-style:normal;
		font: 14px 'Calibri', sans-serif;
        cursor: not-allowed;
	}
        

	ul.accordion li .description > .disabled-start-btn:hover {
     	color:#FFFFFF;
    	background-color: #9E9E9E;
        cursor: not-allowed;
	}

	ul.accordion li .description a:hover{
    	color:#333;
    	text-decoration:none;
	}
	.img-icon{
		margin-top:50px;
	}
	.show-image{
		height:80px;
		width:80px;
		margin-top: 5px;
		margin-left: 5px;
		border:3px solid white;
		border-radius:50%;
		background-size: 100% 100%; 
	}