@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#gad{
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:none;
    position:fixed;
    z-index:2;
    background-color:rgba(15, 8, 8, 0.39);
    overflow-y:hidden;
}
#report{
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:none;
    position:fixed;
    z-index:2;
    background-color:rgba(15, 8, 8, 0.39);
}
#phq{
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:none;
    position:fixed;
    z-index:2;
    background-color:rgba(15, 8, 8, 0.39);
}
img#close {
    position:absolute;
    right:-15px;
    top:-19px;
    height:25px;
    width:25px;
    cursor:pointer
}
div#popupQuestion_gad {
    position:absolute;
    left:26%;
    top:5%;
    margin-left:-202px;
    font-family:'Raleway',sans-serif
}
div#popupQuestion_phq{
    position:absolute;
    left:24%;
    top:5%;
    margin-left:-202px;
    font-family:'Raleway',sans-serif
}

div#popupnotes_text {
    position:absolute;
    left:26%;
    top:5%;
       
    font-family:'Raleway',sans-serif;
     
}
div#popupQuestion_report {
    position:absolute;
    left:26%;
    top:5%;
    margin-left:-202px;
    font-family:'Raleway',sans-serif
}
form {
    max-width:1400px;
    padding:10px 50px;
    border:0px solid gray;
    border-radius:0px;
    font-family:raleway;
    background-color:#fff
}
.phq-form {
    max-width:1100px;
    padding:10px 50px;
    border:0px solid gray;
    border-radius:0px;
    font-family:raleway;
    background-color:#fff
}
.report_layout{

    width:1000px;
    height:700px;
    padding:10px 50px;
    border:0px solid gray;
    border-radius:0px;
    font-family:raleway;
    background-color:#fff
}
p {
    margin-top:30px
}
h2 {
    background-color:white;
    padding:20px 35px;
    margin:-10px -50px;
    text-align:center;
    border-radius:10px 10px 0 0
}
.popup-scroll{
    /* Overflow Scroll */
    /*overflow-y: scroll;*/
    max-height: 550px;
}

/* custom scrollbars - webkit only */
.popup-scroll::-webkit-scrollbar {background-color:white;width:10px;}
.popup-scroll::-webkit-scrollbar-thumb {
    border:1px white solid;border-radius:7px;background:#3498db;
    -webkit-box-shadow: 0 0 8px #555 inset;box-shadow: 0 0 8px #555 inset;
    -webkit-transition: all .3s ease-out;transition: all .3s ease-out;
}
.popup-scroll::-webkit-scrollbar-track {-webkit-box-shadow: 0 0 2px #ccc;box-shadow: 0 0 2px #ccc;}
.user_report_description {
    background-color: rgba(128, 128, 128, 0.18);
    color: #2C2E66;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-size: 14px;
}
.scale-font-color {
    color: #9099b7;
}
.horizontal-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.horizontal-list li {
    float: left;
}
.scale-ranges li {

    width: 88px;
    border-bottom: 1px solid #B9BDCE;
    border-left: 1px solid #B9BDCE;
    border-right: 1px solid #B9BDCE;
    text-align: center;
    background: #FAFBFD;
}
.scale-ranges-d li {

    width: 70px;
    border-bottom: 1px solid #B9BDCE;
    border-left: 1px solid #B9BDCE;
    border-right: 1px solid #B9BDCE;
    text-align: center;
    background: #FAFBFD;
    
}
.scale {
    margin: 0;
    padding: 10px 0 5px;
    font-size: 12px;		
}
.highlight{
    background-color: #DFE9F1;
}
.scale.none-min {
    border-top: 4px solid #2ecc71;
}
.scale.mild {
    border-top: 4px solid #ffeb3b;
    padding-bottom:22px;
}
.scale.moderate {
    border-top: 4px solid #ff9800;
    padding-bottom:22px;
}
.scale.mod-sev {
    border-top: 4px solid red;
}
.scale.severe {
    border-top: 4px solid #7e423d;
    padding-bottom:22px;
}
.scale.min {
    border-top: 4px solid #2ecc71;
}
.scale.milda {
    border-top: 4px solid #ffeb3b;
}
.scale.mod {
    border-top: 4px solid #ff9800;
}
.scale.sev {
    border-top: 4px solid red;
}

.scale-range {
    margin: 0;
    padding: 0 0 10px 10px;
    font-size: 14px;
    color: #737A92;
    font-family:'Calibri';
}



