/***
Soh Orange
***/
/* Button */
.soh-orange.btn {
  color: #FFFFFF;
  background-color: #f67810;
}
.soh-orange.btn:hover, .soh-orange.btn:focus, .soh-orange.btn:active, .soh-orange.btn.active {
  color: #FFFFFF;
  background-color: #f67810;
}
.open .soh-orange.btn.dropdown-toggle {
  color: #FFFFFF;
  background-color: #f67810;;
}
.soh-orange.btn:active, .soh-orange.btn.active {
  background-image: none;
  background-color: #f67810;
}
.soh-orange.btn:active:hover, .soh-orange.btn.active:hover {
  background-color: #f67810;
}
.open .soh-orange.btn.dropdown-toggle {
  background-image: none;
}
.soh-orange.btn.disabled, .soh-orange.btn.disabled:hover, .soh-orange.btn.disabled:focus, .soh-orange.btn.disabled:active, .soh-orange.btn.disabled.active, .soh-orange.btn[disabled], .soh-orange.btn[disabled]:hover, .soh-orange.btn[disabled]:focus, .soh-orange.btn[disabled]:active, .soh-orange.btn[disabled].active, fieldset[disabled] .soh-orange.btn, fieldset[disabled] .soh-orange.btn:hover, fieldset[disabled] .soh-orange.btn:focus, fieldset[disabled] .soh-orange.btn:active, fieldset[disabled] .soh-orange.btn.active {
  background-color: #f67810;
}
.soh-orange.btn .badge {
  color: #f67810;
  background-color: #FFFFFF;
}

/* Button Strip */
.btn.soh-orange-stripe {
  border-left: 3px solid #f67810;
}

/* Portlet */
.portlet > .portlet-body.soh-orange,
.portlet.soh-orange {
  background-color: #f67810;
}

.portlet.solid.soh-orange > .portlet-title,
.portlet.solid.soh-orange > .portlet-body {
  border: 0;
  color: #FFFFFF;
}
.portlet.solid.soh-orange > .portlet-title > .caption {
  font-weight: 400;
}
.portlet.solid.soh-orange > .portlet-title > .caption > i {
  color: #FFFFFF;
}
.portlet.solid.soh-orange > .portlet-title > .tools > a.remove {
  background-image: url(../img/portlet-remove-icon-white.png);
}
.portlet.solid.soh-orange > .portlet-title > .tools > a.config {
  background-image: url(../img/portlet-config-icon-white.png);
}
.portlet.solid.soh-orange > .portlet-title > .tools > a.reload {
  background-image: url(../img/portlet-reload-icon-white.png);
}
.portlet.solid.soh-orange > .portlet-title > .tools > a.expand {
  background-image: url(../img/portlet-expand-icon-white.png);
}
.portlet.solid.soh-orange > .portlet-title > .tools > a.collapse {
  background-image: url(../img/portlet-collapse-icon-white.png);
}
.portlet.solid.soh-orange > .portlet-title > .tools > a.fullscreen {
  color: #fdfdfd;
}

.portlet.box.soh-orange {
  border: 1px solid #f67810;
  border-top: 0;
}
.portlet.box.soh-orange > .portlet-title {
  background-color: #f67810;
}
.portlet.box.soh-orange > .portlet-title > .caption {
  color: #FFFFFF;
}
.portlet.box.soh-orange > .portlet-title > .caption > i {
  color: #FFFFFF;
}
.portlet.box.soh-orange > .portlet-title > .actions .btn-default {
  background: transparent !important;
  background-color: transparent !important;
  border: 1px solid #f67810;
  color: #f67810;
}
.portlet.box.soh-orange > .portlet-title > .actions .btn-default > i {
  color: #f67810;
}
.portlet.box.soh-orange > .portlet-title > .actions .btn-default:hover, .portlet.box.soh-orange > .portlet-title > .actions .btn-default:focus, .portlet.box.soh-orange > .portlet-title > .actions .btn-default:active, .portlet.box.soh-orange > .portlet-title > .actions .btn-default.active {
  border: 1px solid #f67810;
  color: #f67810;
}

/* Statistic Block */
.dashboard-stat.soh-orange {
  background-color: #f67810;
}
.dashboard-stat.soh-orange.dashboard-stat-light:hover {
  background-color: #f67810;
}
.dashboard-stat.soh-orange .visual > i {
  color: #FFFFFF;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.dashboard-stat.soh-orange .details .number {
  color: #FFFFFF;
}
.dashboard-stat.soh-orange .details .desc {
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dashboard-stat.soh-orange .more {
  color: #FFFFFF;
  background-color: #f67810;
}

/* General Element */
.bg-soh-orange {
  border-color: #f67810 !important;
  background-image: none !important;
  background-color: #f67810 !important;
  color: #FFFFFF !important;
}

/* General Text & Icon Font Colors */
.font-soh-orange {
  color: #f67810 !important;
}

.progress-bar.soh-orange {
  background: #f67810 !important;
  color: #FFFFFF !important;
}