.sco-page-heading-div {
    margin-top: 20px; 
    margin-left: 20px; 
    height: 35px;
    color:GREY;
}

.sco-page-heading-icon {
    width: 20%;
    float:left;
    color:#223c87;
    margin-top: 25px;
}

.sco-page-heading-text {
    width: 75%; 
    float: right; 
    font-size:18px;
}
.sco-page-heading-desc {
    margin-top: 4px; 
    font-size:12px;
    color:#9E9E9E;
}

/*
  darkblue  : #176785;
  bluegreen : #499989;
  lightgreen: #BED194;
  milk      : #FFD7AC;
  red       : #FF534E;
*/


article {
  position: relative;
  padding: 0 5em;
  border: 1px solid #223C87;
  margin-bottom: 3em;
  border-radius: 5px;
}

article:hover {
border: 1px solid #3AB149;
}

article:first-child {
  margin-top: 2em;
}

article .title {
  position: absolute;
  left: 30px;
  top: -21px;
  padding-left: 5px; padding-right: 5px;
  background-color: #fff;
  font-family: 'Calibri';
}

@media (max-width: 960px) {
 
  article {
    padding: 0 2em;
  }
}



.icon-label {
    font-size: 13px;
    color:#8ea3b6;
}
.icon{
line-height:30px;
  }

  .article{
      line-height:10px;
  }


            .black_overlay{
                display: none;
                position: absolute;
                top: -30%;
                left: 3%;
                width: 100%;
                height: 850px;
                margin-bottom: -10%;
                background-color: black;
                z-index:1001;
                -moz-opacity: 0.8;
                opacity:.80;
                filter: alpha(opacity=5);
            }
             .blue_overlay{
                display: none;
                position: absolute;
                top: 20%;
                left: 20%;
                right:20%;
                background-color: #C0C0C0;
                z-index:1001;
                -moz-opacity: 0.8;
                opacity:.40;
                filter: alpha(opacity=80);
            }
            
            .white_content {
                display: none;
                position: absolute;
                top: 25%;
                left: 25%;
                width: 80%;
                height: 80%;
                padding: 16px;
                background-color: white;
                z-index:1002;
                overflow: hidden;
            }
            .white_contentc {
                display: none;
                position: absolute;
                top: 0%;
                left: -50%;
                width: 1040px;
                height: 820px;
                padding: 16px;
                margin-top: -10%;
                margin-bottom: -10%;
                background-color: white;
                z-index:1002;
                overflow: hidden;
            }
            
