
	.accordion-toggle{
		text-decoration:none;
	}
	
	.show_perc{
	padding-top:25px;
		font-style: normal;
		font: 22px 'Calibri', sans-serif;
		text-align: center;
	}
	
	 .progress {
		height:60px;
		width:60px;
		float:right;
		color:#ff8000;
		border-radius:50%;
		margin-top:-30px;
		margin-right:10px;
		background-image:url('../../../ssn/icons/icon_0.png');
		background-size: 100% 100%;
	}
	 .session-no {
	text-transform:uppercase;
    	font-style:normal;
    	font-family: "Open-Sans", sans-serif;
    	font-weight:bold;
    	letter-spacing:1px;
    	font-size:22px;
    	color:WHITE;
    	margin:65px 0px 0px 0px;
    	padding: 12px 0 12px 10px;
    	background: #3498db;
   
	}

	 .session-name {
		
		text-transform:uppercase;
    	font-style:normal;
    	font-family: "Calibri";
    	font-weight:bold;
    	letter-spacing:1px;
    	font-size:14px;
    	color:WHITE;
    	margin:18px 0px 0px 0px;
    	padding: 12px 0 12px 10px;
    	background: #3498db;
    
	}

	.description > .session-desc {
     font: 14px 'Calibri', sans-serif;
    	font-weight: normal;
    	text-transform: none;
    	letter-spacing: normal;
    	line-height: 1.5em;
    	margin:18px 0px 0px 10px;
    	color: #a1a1a1;
	}
            

	 .start-btn {
    	margin:15px 20px 0px 0px;
    	float:right;
     	color:#FFFFFF;
    	background-color: #223C80;
     	padding: 7px 14px;  
        border-radius: 2px;
        text-transform: uppercase;
	  font-style:normal;
	  font: 14px 'Calibri', sans-serif;
	}
        

 .start-btn:hover {
     	color:#FFFFFF;
    	background-color: #223C80;
	}
        
 .disabled-start-btn {
    	margin:15px 20px 0px 0px;
    	float:right;
     	color:#FFFFFF;
    	background-color: #9E9E9E;
     	padding: 7px 14px;  
        border-radius: 2px;
        text-transform: uppercase;
	font-style:normal;
	font: 14px 'Calibri', sans-serif;
        cursor: not-allowed;
	}
        

.disabled-start-btn:hover {
     	color:#FFFFFF;
    	background-color: #9E9E9E;
        cursor: not-allowed;
	}

	.description a:hover{
    	color:#FFFFFF;
    	text-decoration:none;
	}
.show-image{
		height:50px;
		width:50px;
		margin-top: 5px;
		margin-left: 5px;
		border:3px solid white;
		border-radius:50%;
		background-size: 100% 100%; 
	}