.panel-body label {
    display: block;
    font-size:12px;
	padding-top:30px;
}
.panel-default > .panel-heading {
    color: #333333;
    background-color:#3498DB;
    border-color: #e0e0e0;
}

.panel-default > .resource-icon {
	padding-top:50px;
}
.panel-title {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}
.panel-title > a:hover {
    color: white;
    font-weight: bolder;
}
.panel-title > a:focus {
    text-decoration: none;
}
.panel-body{
      font-family: sans-serif;
}
.panel-heading-grey{
    background-color:#9E9E9E;
}
.panel-heading-green{
    background-color:#3AB149;
}

.legend-key {
	height: 12px; 
	margin-top: 8px;
	width: 40px;
	
}
.legend-text {
	font-size:12px;
	font-family: "Open Sans", sans-serif;
	padding-left:10px;
		padding-top:8px;
}