
.segmented-button {
  padding: 0px ;
}
.segmented-button input[type="radio"] {
  width: 0px;
  height: 0px;
  display:none;
  }
.table.table-light > tbody > tr > td{
  	color:#333333;
  }
.table>tbody>tr>td
  {
  		padding: 6px 0px 0px 0px;
    	line-height: 1.23;
  }
.segmented-button label {
	width:120px;
	height:55px;
	margin-left:10px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6daf0), color-stop(100%, #d6daf0));
  background: -webkit-linear-gradient(#d6daf0, #d6daf0);
  background: -moz-linear-gradient(#d6daf0, #d6daf0);
  background: -o-linear-gradient(#d6daf0, #d6daf0);
  background: -ms-linear-gradient(#d6daf0, #d6daf0);
  background: linear-gradient(#d6daf0, #d6daf0);
  color: black;
  padding: 15px;
  padding-bottom: 3px;
  font-size: 12px;
  cursor: pointer;
  font-family: inherit;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  margin-right: -5px;
}

.segmented-button label {
  *display: inline;
}


.segmented-button label.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.segmented-button label.last {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.segmented-button input:checked + label, .segmented-button label.selected {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #446cb3), color-stop(100%, #446cb3));
  background: -webkit-linear-gradient(#446cb3, #446cb3);
  background: -moz-linear-gradient(#446cb3, #446cb3);
  background: -o-linear-gradient(#446cb3, #446cb3);
  background: -ms-linear-gradient(#446cb3,#446cb3);
  background: linear-gradient(#446cb3, #446cb3);
  color:white;
}
.segmented-button input:disabled + label {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(#ffffff, #efefef);
  background: -moz-linear-gradient(#ffffff, #efefef);
  background: -o-linear-gradient(#ffffff, #efefef);
  background: -ms-linear-gradient(#ffffff, #efefef);
  background: linear-gradient(#ffffff, #efefef);
  cursor: default;
  color: #b2b2b2;
  border-color: #cccccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn .caret, .btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
    z-index: 2;
}
.btn.active {
    background-color: #446cb3;
    border-color:#446cb3;
	color:white;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0;
}
.btn {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d6daf0;
    background: #d6daf0;
    color: black;
	height:50px;
	width:90px;
}
.btn {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
	font-size:13px;
    user-select: none;
}
.btn, .dropdown-header, .dropdown-item, .input-group-btn, .label, .table-reflow tbody {
    white-space: nowrap;
}
.btn, .c-indicator {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
label {
    margin-right: 10px;
    display: block;
	border-radius:2px;
}
[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}