/*
  darkblue  : #176785;
  bluegreen : #499989;
  lightgreen: #BED194;
  milk      : #FFD7AC;
  red       : #FF534E;
*/


article {
  position: relative;
  padding: 0 5em;
  border: 1px solid #BED194;
  margin-bottom: 3em;
  border-radius: 5px;
}

article:hover {
  border-color: #499989;
}

article:first-child {
  margin-top: 3em;
}

article .title {
  position: absolute;
  left: 30px;
  top: -21px;
  padding-left: 5px; padding-right: 5px;
  background-color: #fff;
  font-family: 'Calibri';
}

@media (max-width: 960px) {
 
  article {
    padding: 0 2em;
  }
}